@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/*
<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

:root {
    --a: #DAEE68;
    --b: #85D9F8;
    --c: #87E88C;
    --d: #B7FBC9;
    --text: #010101;
    --bg: #EFEFEF;
    --section: #ffffff;

}

.dark {
    --text: #ffffff;
    --bg: #010101;
    --section: #ffffff;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}


#root {
    @apply w-screen h-screen bg-(--bg)
}

nav {
    @apply rounded-xl bg-linear-to-r from-(--b) to-(--a)
}

.content {
    @apply rounded-xl bg-(--section)
}

nav a {
    @apply text-xl text-(--text)
}